/*liens vers la catégorie*/
h6 a{
color: #2a9d8f;
text-transform: uppercase;
}

/* section partOne */
.blocimg{
    display: flex;
    gap: 3%;
}

.princimg{
    width: 50%;
}

.chapeau{
    width: 85%;
} 

.charticle{
    position: relative;
}
.mainArticle .boutonarticle{
    padding: 1.5%;
    width: 13%;
}
.mainArticle .cta{ 
    width: 100%;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0; 
}

/* section partTwo */
.partTwo{    
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    }

.partTwo .boutonarticle {
    padding: 2%;
    width: 22.5%;
}

/* section partThree */
.partThree{
    margin-top: 5.5%;
}

.sideArticle { 
    display: flex;
    gap: 4%;
    margin: 3% 0%;
}

.sideArticle img{
    width: 40%;
}

.partThree .boutonarticle{
    padding: 2%;
    width: 20%;
}

@media (max-width:1023px){

    .princimg {
        width: 70%;
    }

    .mainArticle .boutonarticle,
    .partTwo .boutonarticle,
    .partThree .boutonarticle {
        padding: 2%;
        width: 20%;
        margin-top: 2%;
    }

    .chapeau{
        width: 100%;
    }

    .mainArticle .cta{ 
        text-align: center;
        position:initial;
    }

    .partTwo{
        display: flex;
        flex-direction: column ;
    }

    .partTwo .cta{
    text-align: center;
    }

    .sideArticle { 
    flex-direction: column;
    margin-top: 7%;
    }

    .sideArticle img{
    width: 100%;
    }
}