/* partie 1 l'article*/
.partOne { 
  display: grid;
}

.charticle{ 
  width: 80%; 
  justify-self: center; 
  text-align: center;
}

.blocimg{
  display:grid; 
  padding: 3% 5% 0%; 
  border: solid 1px #5798B2 ; 
  width :100%; 
  border-top: none; 
  border-bottom: none;
  justify-content: center; 
  margin-bottom: 4%;
}

.princimg { 
  width: 90%; 
  justify-self: center; 
}

.legende{
  padding-left: 10%;
  padding-top: 1%;
}

/* éléments de décoration */
hr{
  color: #5798B2;
  width: 40%;
  justify-self: center;
}

.bouton{
  padding: 1%; 
  margin: 3% 0%;
}

.carrousel {
    height: 450px;
}


@media (max-width:738px){

    .blocimg{
      border: none;
      padding:2% 0%;
    }

    .princimg{
      width:100%; 
    }

    .legende{
      padding: 0%;
    }
    .charticle{ width: 90%;}

    .carrousel{ height: 200px;}
}

