.princimg { 
  width: 80%; 
  justify-self: center; 
}

.partOne {
  display: grid;
}
hr{
  color: #5798B2;
  width: 40%;
  justify-self: center;
}
.charticle{ 
  width: 80%; 
  justify-self: center; 
  text-align: center;
}

#blocimg{
  display:grid; 
  padding: 3% 5% 0%; 
  border: solid 1px #5798B2 ; 
  width :100%; border-top: none; 
  border-bottom: none;
  justify-content: center; 
  margin-bottom: 4%;
}

.bouton{
  padding: 1%; 
  margin: 3% 0%;
}

.carrousel {
    height: 450px;
}

.legende{
  padding-left: 10%;
  padding-top: 1%;
}

@media (max-width:738px){

    img{
      width:100%; 
      border: none;
      padding:0%;
    }

    .charticle{ width: 90%;}

    .carrousel{ height: 200px;}
}

