.mapPort{
    width: 50%;
}
.partPrincipal{
    text-align: center;
}
.partCalendrier{
    width: 50%;
}
.partTwo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.partOne{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2%;
}
.partEvent{
    border: solid #5798B2 1px;
    padding: 3%;
    margin-bottom: 2%;

}
iframe{
    width:70%;
}
h3{ text-justify: center;}
.partSecondaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*  pas encore fini */

@media (max-width:1023px){
    .partOne{
        flex-direction: column;
        align-items: center;
        /* margin-top: 2%; */
    }
    iframe{
        width:100;
        height:200;
    }
    .partTwo{
        flex-direction: column;
        align-items: center;
    }
    .partCalendrier{
        width: 100%;
    }
}