main{
    padding-left: 0%; 
    padding-right: 0%;
}

div p{ 
    padding-left: 1%;
}

/* section partOne */

/* le style du bouton */
.cta { 
    text-align: end;
}

.bouton{
    padding: 1%; 
    margin: 0%
}  

/* nouvelle discussion */
#newChat{
    display: inline-flex; 
    justify-content: space-between; 
    align-items: center; 
    border: solid #5798B2; 
    border-width: 1px 0px; 
    width: 100%;
}

.plus{
    font-size: 220%; 
    padding-right: 2%;
}

/* section partTwo */


.chat{
    display: grid; 
    grid-template-columns: 85% 15%; 
    justify-items: center; 
    align-items: center;
    border: solid 1px #5798B2; 
    border-width: 1px 0px; 
    width: 100%;
    margin-top: 2%;
}

.user{
    width:100%; 
    text-align: center;
}

.userPhoto{
    width: 55px; 
    height: 55px; 
    border-radius: 50%; 
}


@media (max-width:1023px){

    /* partOne */
    .plus{
        font-size: 190%; 
        padding-right: 2%;
    }
    
    #newChat{
        height: 45px;
    }
    
    /* partTwo */
    .userPhoto{
        width: 45px; 
        height: 47px; 
    }

    .userName{
        display: none;
    }

    .textearticle{
        padding-right: 2%;
    }
}